body {
    margin: 0px;
    padding: 0px;
    background-image: url(medicine.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.tab1 {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height:200px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5)
}
h2 {
    padding: 0px;
    margin:-10px;
    text-align: center;
    color: rgb(255,217,9);
    height:30px;
}
